<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Goals</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Josefin+Sans:600">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  </head>
  <body>
    {% load static %}
    <div id="goals"></div>
    <script type="text/javascript" src="{% static "builds/bundle.js" %}"></script>
  </body>
</html>